{% load i18n %}

{% autoescape off %}
{% blocktrans %}Bu emaili {{ site_name }} saytında olan hesabınızın parolunu dəyişmək istəyi göndərdiyiniz üçün almısınız..{% endblocktrans %}

{% trans "Xahiş olunur aşağıdakı ünvana daxil olub yeni şifrə təyin edəsiniz:" %}
{% block reset_link %}
 {{redirect_url}}
{% endblock %}
{% trans "Xatırlatma üçün bildirək ki, göstərilən emaildən istifadə etməlisiniz:" %} {{ user.get_username }}

{% trans "Saytımızdan istifadə etdiyiniz üçün təşəkkür edirik." %}

{% endautoescape %}